/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll; }

.active {
  background: #7db9e8;
  background: -moz-linear-gradient(top, #7db9e8 0%, #1e5799 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7db9e8 0%, #1e5799 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7db9e8 0%, #1e5799 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ) !important;
  /* IE6-9 */ }

.section {
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 2px solid white;
  background: gray;
  transition: all 0.5s ease-in-out; }
  .section h5 {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    transform: translate(0, -50%);
    font-size: 100px;
    right: 0;
    left: 0; }

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  background: orange;
  text-align: center;
  transition: all 0.5s ease-out; }
  .nav h5 {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white; }

/*# sourceMappingURL=main.css.map */
